@using Microblog.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Chengweiboshouye.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>weiboguangchang</title>
    <script type="text/javascript">
       


    $(function () {
    //登录功能
    $("#weibo_dengluweiboanniu").click(function () {
    //alert(1);
    var zhiyi = $("#phone").val();
    var zhier = $("#pass").val();
    if (zhiyi != "") {
    if (zhier != "") {
    $("#biaodan").submit();
    } else {
    alert("请输入密码");
    }
    } else {
    alert("请输入邮箱");
    }
    })

    $(".urog-form-role").click(function (event) {
    //得到点击事件的dom结构
    var click_node = getEventTrigger(event);
    //得到点击close图片的data-close
    //data-close的值是input框的id
    var clickName = click_node.getAttribute("data-close");
    //得到点击事件的属性（INPUT）
    var clickInput = click_node.nodeName;
    //判断点击的是close图片，则清空相应id输入框的值，并隐藏该close图片
    if (clickName == 'phone' || clickName == 'pass' || clickName == 'pass2') {
    $("#" + clickName).val(null);
    $("#" + clickName).next().css("display", "none");
    }
    //判断点击事件的元素是input框
    if (clickInput == "INPUT") {
    //获取INPUT的id
    var next_closeId = click_node.id;
    //绑定获取焦点和输入值-函数
    $("#" + next_closeId).bind("focus keyup", function () {
    //判断当前输入框的值不为空时
    if ($("#" + next_closeId).val() != '') {
    $(".urog-regclose").css("display", "none");
    //当前输入框的下一个同袍节点样式显示
    $("#" + next_closeId).next().css("display", "inline-block");
    }

    })
    }
    })
    //得到点击事件的dom结构
    function getEventTrigger(event) {
    //ie 火狐 event兼容

    event = event ? event : window.event
    var x = event.srcElement ? event.srcElement : event.target;
    return x;
    }
    })
    </script>

</head>
<body>
    <div id="weibozhengti">
        <div id="denglu">
            <a href="/Cheng/Register" class="lijizhuci">立即注册微博</a>
            @using (Html.BeginForm("weiboguangchang", "Cheng", FormMethod.Post, new { id = "biaodan" }))
            {

                <p class="urog-form-role urog-phone">

                    <input name="phone" id="phone" class="form-input" value="" type="text" placeholder="邮箱/例如:youxiang@xxxx.com" maxlength="16" />
                    <img src="~/resource/error.gif" class="urog-regclose" data-close="phone" />
                </p>
                <p class="urog-form-role">

                    <input name="pass" value="" id="pass" type="password" placeholder="请输入密码" maxlength="11" class="form-input" />
                    <img src="~/resource/error.gif" class="urog-regclose" data-close="pass" />
                </p>
                <p class="weibo_wenzizidong"><input type="checkbox" class="xiacizidongdenglu" />下次自动登录 <a href="#" class="zhaohuimima">找回密码</a></p>
                <p><input type="button" value="登录微博" id="weibo_dengluweiboanniu" /></p>
            }
        </div>
        <div id="weibo_xianshikuai">
            <div class="toubulogo"></div>

            <div class="gundozimu">
                <div class="zimutiao"> <marquee><img src="~/resource/lb.png" /><span style="font-weight: bolder;font-size: 20px;color: white;">正在热议：QQ密码泄露          QQ密码泄露</span></marquee></div>
            </div>
            <div id="weibo_neirongkuai">
                <div class="weibo_yi">
                    <div class="weibo_yi_zhengzaishiyonweiboder">
                        <p class="weibo_yi_wenzi"><img src="~/resource/crown.png" />这些人正在使用微博</p>
                    </div>
                    <div class="shiyongweiboderen">
                        @foreach (var item in Model as List<Microblog.Models.Users>)
                        {
                            <div class="touxiang">
                                <a href="#" class="renxinxi">
                                    <dl>
                                        <dd>
                                            @if (item.Userinfo.user_headphoto == null)
                                            {<img src="~/resource/a.gif" style="width:90px;height:90px;" /> }
                                            else
                                            {<img src="@item.Userinfo.user_headphoto" style="width:90px;height:90px;" />}
                                        </dd>
                                        <dt style="color:#96c5e0">@item.user_name</dt>

                                    </dl>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="xinjiaruderen_wenzi">
                        <p class="weibo_yi_wenzi"><img src="~/resource/crown.png" />新加入的人</p>
                    </div>
                    <div class="xinjiaruderen_touxiang">
                        @foreach (var item in ViewData["shiyongweiboderen"] as List<Users>)
                        {
                            <div class="touxiang">
                                <a href="#" class="renxinxi">
                                    <dl>
                                        <dd>
                                            @if (item.Userinfo.user_headphoto == null)
                                            {<img src="~/resource/moren.jpg" style="width:90px;height:90px;" /> }
                                            else
                                            {<img src="@item.Userinfo.user_headphoto" style="width:90px;height:90px;" />}
                                        </dd>
                                        <dt style="color:#96c5e0">@item.user_name</dt>

                                    </dl>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="weibo_er">
                    <div class="dajizhengzaishuo">
                        <span><img src="~/resource/crown.png" />大家正在说</span>
                    </div>
                    <div class="zhengzaishuoxinxi">
                        @Html.Partial("_zhengzaishuo")
                    </div>
                </div>
                <div class="weibo_san">
                    <div class="guanzhupaihangbang">
                        <div class="gauzhu_wenzi">
                            <p>关注度TOP<span style="color:#ff0000;font-weight:bold;font-size:30px;">10</span></p>
                        </div>
                        <ul class="paxu">
                            @foreach (var item in ViewData["guanzhushulian"] as List<Microblog.umodel.guanzhulei>)
                            {
                                <li class="guanzhupaixu"><span class="mingzi">@item.user_name</span><span class="fensishu">@item.renshu</span> </li>
                            }
                        </ul>
                        <div class="tupianpaihang"></div>
                    </div>
                </div>
            </div>
            <div id="weibo_dibu">
                <span class="weibospan_yi">AAAAAAAAA</span>
                <span class="weibospan_er">BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</span>
            </div>
        </div>
    </div>
</body>
</html>
